 <!-- Student Name: Mingyue Guo; Student Number: 301245440; Date: 2020/09/27-->

 <!-- Bottom Nav -->
 <fotter>
  <nav class="navbar fixed-bottom navbar-brand bg-dark">
    <h6 class="display-9 navbar-text">&copy; Copyright 2022 COMP Mingyue Guo. </h6>
  </nav>
</fotter>
