<!-- Student Name: Mingyue Guo; Student Number: 301245440; Date: 2020/09/27-->
<!-- Main About Me Content -->
  <div class="aboutMe"><br>
    <h2 class="display-6">✿ Hello! I'm Mingyue Guo</h2>
    <p>I had a degree in Electronic Information Engineering, and I worked as an accountant for 6 years. Now, I'm changing career by taking Software Engineering Technician at Centennial College. It is a two years program and this is my third semester. I like cooking and travling, and also I like music so much.</p>
    <p>Learn more from my resume: <a href="/Assets/MingyueGuoResume.pdf">Mingyue Guo's Resume</a></p>
    <img class="aboutImg" src="/Assets/images/mia.png" width="960px"  alt="Mia" />
</div>

