 <!-- Student Name: Mingyue Guo; Student Number: 301245440; Date: 2020/09/27-->
 <!-- Contact form -->
<form action="https://comp229-2022-assignment2.herokuapp.com"> 
    <h2>Welcome to contact me!</h2>
    <div class="myInfo">
      <h6>Name: Mingyue Guo</h6>
      <h6>Email Address: mguo28@my.centennialcollege.ca</h6>
      <h6>Phone Number: +1 5879730406</h6>
    <fieldset>
     <legend>Your Information</legend>
     <div>
      <lable for=txtname>First name: </lable>
      <input id="txtFName" name="txtFName" size="50" type="text" require="required">
    </div>
     <div>
      <lable for=txtname>Last name: </lable>
      <input id="txtLName" name="txtLName" size="50" type="text" require="required">
     </div>
     <div>
      <lable for=txtname>Email: </lable>
      <input id="txtLName" name="email" size="54" type="email" require="required">
     </div>
     <div>
      <lable for=txtPhone>Phone: </lable>
      <input id="txtPhone" name="Phone" size="54" type="text" require="required">
     </div>
     <div>
      <label for="interest">Interested Projects</label>
      <input type="text" class="form-control" id="interest">
     </div>
    </fieldset>
     <p>
   <input name="btnSubmit" type="submit" value="Submit">
 </p>
 </form>