<!-- Student Name: Mingyue Guo; Student Number: 301245440; Date: 2020/09/27-->
<!-- Home Page Content -->
<div class="home"><br>
    <h1 class="display-6">Welcome to Mia's websit! ❀ ★ ♫ ღ </h1><br>
    <div class="card" style="width: 52rem;">
        <div class="card-body">
          <h3 class="card-title">Mingyue Guo</h3>
          <h4 class="card-text"> Software Engineering Technician</h4>
        </div>
        <ul class="cardlist">
          <li class="list-group-item">HTML Projects</li>
          <li class="list-group-item">C# Programming</li>
          <li class="list-group-item">Software Engineering</li>
        </ul>
      </div>
    
</div>