<!-- Student Name: Mingyue Guo; Student Number: 301245440; Date: 2020/09/27-->
<!-- Services page -->
<div class="projects">
    <div class="projects-title">
        <h1 class='section-title'>My Services</h1>
        <p class='section-slogan'>💰 Web Development 🤝 Mobile Application  ✍ Software Engineering Design</p><br>  
    </div>
    <div class="projects-container">
        <div class="project">
                <h4 class="project-title">Web Development</h4><br>
                <img src="/Assets/images/service1.jpg" width="400px"  alt="service1" />
                <p class="tech-text blue">Client-focused, customer-centric, creating website solutions that deliver tangible business results, we help brands the ever-changing digital landscape.</p>
        </div>
        <div class="project">
            <h4 class="project-title">Mobile Application</h4><br>
            <img src="/Assets/images/service2.jpg" width="400px"  alt="service2" />
            <p class="tech-text blue">Mobile app development services are aimed at building iOS & Android applications that effectively complement or substitute web solutions.We success by delivering striking UI, secure app code, and resilient back ends.</p>
        </div>
        <div class="project">
            <h4 class="project-title">Software Engineering Design</h4><br>
            <img src="/Assets/images/service3.jpg" width="400px"  alt="service3" />
            <p class="tech-text blue">Our team can work with you to tailor software solutions to fit your business. Whether you’re looking for application modernization, web application development, or an extension of legacy technologies, our Design Services team will work with you to achieve the superior functionality a custom solution provides.</p>
        </div>

        
    </div>
</div>